h1{
    background-color: blueviolet;
    color: rgb(2, 18, 32);
    font-size: 40px;
}
h2{
    background-color: deepskyblue;
    color: black;
}
h3{
    background-color: lightgreen;
    color: black;
}